.footer {
    padding: 48px 24px;

    @include responsive($xl) {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    &__title {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px; /* 111.111% */
        margin-bottom: 50px;

        @include responsive($lg) {
            font-size: 40px;
            line-height: 65px;
        }

        @include responsive($xxl) {
            font-size: 55px;
            line-height: 81px;
        }
    }

    &__subtitle {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 50px;

        @include responsive($lg) {
            font-size: 40px;
            line-height: 65px;
        }

        @include responsive($xxl) {
            font-size: 55px;
            line-height: 81px;
        }

        span {
            color: #FE6744;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration-line: underline;

            @include responsive($lg) {
                font-size: 40px;
                line-height: 65px;
            }

            @include responsive($xxl) {
                font-size: 55px;
                line-height: 81px;
            }
        }
    }

    &__info {
        color: #25383F;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__address {
        color: #000;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 8px;
        margin-bottom: 32px;
    }

    .navbar-nav {
        gap: 18px;

        @include responsive($xxl) {
            gap: 30px;
        }
        .nav-link {
            color: #000;
            font-family: $font-tertiary;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            stroke-width: 1px;
            width: fit-content;
            padding: 6px 14px;

            &.active {
                border: 1px solid rgba(34, 136, 102, 0.80);
                border-radius: 1000px;
                border-bottom-width: 0ch;
                border-top-width: 0px;
                stroke-width: 1px;
            }
        }
    }

    &__divisor {
        max-width: 100%;
        height: 1px;
        background: #C4C4C4;
        margin: 61px auto 20px auto;

        @include responsive($xl) {
            margin-top: 180px;
            margin-bottom: 36px;
            max-width: 1200px;
        }
    }

    &__jonidev {
        color: #000;
        font-family: $font-tertiary;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
    }

    &__devkoore {
        color: #000;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 138.889% */

        a {
            color: #008D75;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 25px;
            text-decoration: none;
        }

        span {
            color: red;
        }
    }
}