$font-primary: "Ubuntu", sans-serif;
$font-secondary: 'Poppins', sans-serif;
$font-tertiary: "Source Code Pro", monospace;

$color-primary: #f2f2f2;

$gray-100: #dedede;
$gray-200: #a2a2a2;


// Breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxl-4k: 2540px;