.hero {
    background-color: $color-primary;

    &__title {
        color: #000;
        font-family: $font-primary;
        font-size: 45px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
    }
}